<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/f5a611c95b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">

              <% if user_signed_in? %>
                <li>
                <%= link_to books_path, class:"nav-link text-light" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true">
                    <i class="fa-solid fa-house-chimney"></i>
                    Home
                  </span>
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path, class:"nav-link text-light" do %>
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                      <i class="fa-solid fa-users"></i>
                      Users
                    </span>
                  <% end %>
                </li>
                <li>
                  <%= link_to books_path, class:"nav-link text-light" do %>
                    <span class="glyphicon glyphicon-book" aria-hidden="true">
                      <i class="fa-solid fa-book-open"></i>
                      Books
                    </span>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                      <i class="fa-solid fa-right-from-bracket"></i>
                      Logout
                    </span>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to root_path, class:"nav-link text-light" do %>
                    <span class="glyphicon glyphicon-home" aria-hidden="true">
                      <i class="fa-solid fa-house-chimney"></i>
                      Home
                    </span>
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class:"nav-link text-light" do %>
                    <span class="glyphicon glyphicon-link" aria-hidden="true">
                      <i class="fa-solid fa-link"></i>
                      About
                    </span>
                  <% end %>
                </li>

                <li>
                  <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-user-plus"></i>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"> Sign up</span>
                  <% end %>
                </li>

                <li>
                  <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"> Log in</span>
                  <% end %>>
                </li>
              <% end %>
    </header>
  <%= yield %>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>
